
  

body {
  margin: 0;
 
  font-family: 'Skranji', cursive;
  background-color:#F9FBFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  background-color: brown;
  border-radius: mohan;
}

cost{
  background-color: aqua;
  color: blue;
  text-overflow: initial;
  text-shadow: #F9FBFC;
}